body{
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center ;
}

button{
    margin: 2px;
    border-radius: 50%;
    color: cyan;
    background-color: plum;
    width: 100px;
    height: 100px;
}